@model MySpace.Models.Artiste
@if (ViewBag.isAdmin == 1)
{
    <form>
        <label>Approbation</label><input type="checkbox" value="@Model.Approved" />
    </form>
}

@if (ViewBag.isFan == -1)
{
    @Helper.GlyphiconAction("Profil", "glyphicon-edit" , "");
} 

<div>
    <h3>@Model.Name</h3>
</div>
<div>
    <span>@Model.Visits Visits</span>
    <span>@Model.Likes Likes</span>
   
        @if (ViewBag.isFan == 1)
        {
            <h4 class="glyphicon glyphicon-thumbs-down" title="S'abonner" id="like" artisteId="@Model.Id"></h4>
        }
        else if (ViewBag.isFan == 0)
        {
            <h4 class="glyphicon glyphicon-thumbs-up" title="S'abonner" id="like" artisteId="@Model.Id"></h4>
        }
    <div>
        <img class="photo" src="@Url.Content(Model.GetUrl(false))" />
        <span>
            @Model.Description
        </span>
    </div>
    <fieldset style="border: solid black 1px; margin-top: 10px">
        <legend>
            Vidéos Youtubeè
            @{ 
                if(ViewBag.isFan == -1)
                {
                     <span id="AddVideo" style="margin-left: 15px; color: green" title="Ajouter une video" class="glyphicon glyphiconStyle glyphicon-plus pointer"></span>
                }
            }
            
        </legend>

        <fieldset id="AddVideoForm" style="display: none; margin-top: 10px">
            <legend>
                Ajout d'un video youtube
            </legend>
            <input type="text" id="title" placeholder="Titre" />
            <br />
            <input type="text" id="youtubeLink" placeholder="Lien Youtube" />
            <br />
            <span id="AcceptVideoLink" artistId="@Model.Id" class="glyphicon glyphicon-ok glyphicon-green pointer glyphiconStyle"></span>
            <span id="CancelAddVideo" class="glyphicon glyphicon-remove pointer glyphicon-red glyphiconStyle"></span>
        </fieldset>
        @foreach (MySpace.Models.Video video in (List<MySpace.Models.Video>)ViewBag.videos)
        {
            @Helper.YoutubeThumbnail(video)
        }

    </fieldset>
    <fieldset style="border: solid black 1px; margin-top: 10px">
        <legend>
            Messages
            <span id="AddMessage" style="margin-left: 15px; color: blue" title="Ajouter un message" class="glyphicon glyphiconStyle glyphicon-plus pointer"></span>
        </legend>

        <fieldset id="currentUserMessageForm" style="display: none; margin-top: 10px">
            <legend>
                Ajout d'un message
            </legend>
            <input type="text" id="newMessage" placeholder="votre message" />
            <br />
            <span id="AcceptNewMessage" artistId="@Model.Id" class="glyphicon glyphicon-ok glyphicon-green pointer glyphiconStyle"></span>
            <span id="CancelAddMessage" class="glyphicon glyphicon-remove pointer glyphicon-red glyphiconStyle"></span>
        </fieldset>
        @foreach (MySpace.Models.Message message in (List<MySpace.Models.Message>)ViewBag.messages)
        {
            <div style="margin-bottom: 4rem;">
                <div style="display: grid; grid-template-columns: 200px 10px 120px;">
                    <div>@Helper.AvatarProfilLinkName(message.User)</div>
                    <div></div>
                    <div>@Helper.When(message.Creation)</div>
                </div>

                @if (ViewBag.user == message.UserId)
                {
                    <span id="DeleteMessage" class="glyphicon glyphicon-remove pointer glyphicon-red glyphiconStyle" messageId="@message.Id"></span>
                }
                <span style="margin-left: 5rem">@message.Text</span>
            </div>

        }
    </fieldset>

</div>
    

