@model IEnumerable<MySpace.Models.Artiste>

@{
    ViewBag.Title = "Gallerie des Artistes";
}


<h2>Gallerie des Artistes</h2>

<div id="ArtistListContainer">
    

    @{Html.RenderAction("GetArtistsList", new { forceRefresh = true });}

</div>
@section Scripts {
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/partialRefresh")
<script>

        let partialRefresh = new PartialRefresh("@Url.Action("GetArtistsList")", "ArtistListContainer", 5, postRefreshCallBacks);
        function postRefreshCallBacks() {
            $("#searchByName").change(function () {
                let url = /Artistes/ + "SetSearchArtistName?name=" + $("#searchByName").val();
                partialRefresh.command(url);
            });
            $("#searchByName").focus(function () {
                partialRefresh.pause();
                console.log("paused");
            });
            $("#searchByName").focusout(function () {
                partialRefresh.restart();
                console.log("restarted");
            });
            $('#doSearch').mouseup(function () {
                let url = /Artistes/ + "SetSearchArtistName?name=" + $("#searchByName").val();
                partialRefresh.command(url);
            });
            $(".sortArtists").click(function () {
                $(".sortArtists").css("color", "grey");
                console.log($(this).attr("fieldToSort"))
                let url = @Url.Action("/")+ "SortArtistsBy?fieldToSort=" + $(this).attr("fieldToSort");
                partialRefresh.command(url);
            });
            $("#matrixView").click(function () {
                let url = @Url.Action("/") + "ViewArtistLayout";
                partialRefresh.command(url);
            });
        }

</script>
}