@model MySpace.Models.Artiste

@{
    ViewBag.Title = "Page";
}

<div class="container">
    <fieldset style="border: solid black 1px" id="ArstistPageContainer" class="ArstistPageContainer">
        @{Html.RenderAction("GetPage", new { id = Model.Id , forceRefresh = true }); }
    </fieldset>
</div>



</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/partialRefresh")

<script defer>

        let actionUrl = /Artistes/ + "GetPage?id=" + @Model.Id;
        let partialRefresh = new PartialRefresh(actionUrl, "ArstistPageContainer", 5, postRefreshCallback);
        $("#AddVideoForm").hide();
        function postRefreshCallback() {
            $("#AddVideo").click(function () {
                $("#AddVideoForm").show();
                $("#AddVideo").hide();
                $(".DeleteVideo").hide();
                partialRefresh.pause();
            });
            $("#AddMessage").click(function () {
                $("#currentUserMessageForm").show();
                $("#AddMessage").hide();
                partialRefresh.pause();
            });
            $("#AcceptVideoLink").click(function () {
                let title = $("#title").val();
                let link = $("#youtubeLink").val();
                if (title == "") {
                    bootbox.alert("Veuillez entrer un titre");
                } else {
                    if (!validateYouTubeUrl(link)) {
                        bootbox.alert("Veuillez entrer un lien youtube valide");
                    } else {
                        let artistId = $(this).attr("artistId");
                        let url = /Artistes/ + "AddVideo?artistId=" + artistId + "&title=" + title + "&link=" + link;
                        partialRefresh.command(url);
                        partialRefresh.restart();
                        $("#AddVideoForm").hide();
                        $("#AddVideo").show();
                        $(".DeleteVideo").show();
                    }
                }
            })
            $("#CancelAddVideo").click(function () {
                partialRefresh.restart();
                $("#AddVideoForm").hide();
                $("#AddVideo").show();
                $(".DeleteVideo").show();
            })
            $("#AcceptNewMessage").click(function () {
                let message = $("#newMessage").val();
                if (message == "") {
                    bootbox.alert("Veuillez entrer un message");
                } else {
                    let artistId = $(this).attr("artistId");
                    let url = /Artistes/ + "AddMessage?artistId=" + artistId + "&message=" + message;
                    partialRefresh.command(url);
                    $("#currentUserMessageForm").hide();
                    $("#AddMessage").show();
                    partialRefresh.restart();
                }
            });
            $("#CancelAddMessage").click(function () {
                $("#currentUserMessageForm").hide();
                $("#AddMessage").show();
                partialRefresh.restart();
            });
            $("#DeleteMessage").click(function () {
                let messageId = $(this).attr("messageId");
                if (messageId == "") {
                    bootbox.alert("Veuillez entrer un message");
                } else {
                    let url = /Artistes/ + "DeleteMessage?messageId=" + messageId;
                    partialRefresh.command(url);
                    partialRefresh.restart();
                }
            });
        }

        function validateYouTubeUrl(url) {
            if (url != undefined || url != '') {
                var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=|\?v=)([^#\&\?]*).*/;
                var match = url.match(regExp);
                if (match && match[2].length == 11) {
                    return true;
                }
                return false;
            }
        }

</script>
}




